/* #first-css {
    color: red;
    font-size: 20px;
}
.second-css {
    color: hwb(239 30% 43%);
    font-size: 20px;
}

.box {
    width: 100px;
    height: 50px;
    background-color: green;
} */

/* .box1 {
    background-color: rgb(175, 185, 34);
} */